{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<head>
    <title>Об авторе проекта</title>
</head>
<div class="m3-p3">
    <h1>Привет, я автор этого сайта!</h1>
    <p>
    У меня не так много времени до дедлайна текущего спринта, <br>
    но я хочу успеть сказать пару фраз: <br>
    <ul>
        <li> Программирование - это сложно; </li>
        <li> Но очень интересно и круто; </li>
        <li> Даже если Вы, как я, пришли из абсолютно другой сферы <br>
            <i>(по образованию я филолог)</i></li>
        <li> Если Вы поставили себе эту цель - </li>
    </ul>
    <h3>Вы обязательно со всем справитесь!</h3> 
    </p>
    <p>
        А здесь я оставлю свои контактные данные. <br>
        Не стесняйтесь написать мне, если нуждаетесь в помощи, <br>
        потому что программисты - это одна большая серверная семья, <br>
        а новички точно должны держаться вместе. <br>
        <ul>
            <li><a href='https://github.com/shelest-rustle'> Github</a></li>
            <li><a href='https://vk.com/idrrrozenberg'> Вконтакте</a></li>
            <li><a href='https://disk.yandex.ru/client/disk/CV?idApp=client&dialog=slider&idDialog=%2Fdisk%2FCV%2FCV%20Shelest.png'> CV</a></li>
            
        </ul>
    </p>
</div>
{% endblock %} 