{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<head>
  <title>Технологии</title>
</head>
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Хоть в списке слева всего два значения, <br>
    была проделана действительно сложная и достойная работа.<br>
    Были как и лёгкие места (вроде синтаксиса Python), <br>
    так и те, над которыми надо было подумать недельку-другую<br>
    (вроде валидации форм в django или работы с авторизацией пользователей)<br></p>
    <p><h3>Но нет ничего лучше, чем наблюдать, что это всё</h3>
        <h1> Р А Б О Т А Е Т </h1></p>
    <p>Хочется поблагодарить моего ревьюера, моих наставников и куратора;<br>
        Мою щенулю Артемиду;<br>
        Всех тех, кто вместе со мной переживал мои нервные срывы из-за пропущенной запятой;<br>
        и, конечно же, <b>себя, себя и ещё раз себя.</b></p>
  </article>
</div>
{% endblock %} 